
/* 
Fonts that I thought would look good for our application.

font-family: 'Markazi Text', serif;
font-family: 'Archivo Narrow', sans-serif;
font-family: 'Istok Web', sans-serif;
font-family: 'Playfair Display SC', serif;
font-family: 'Barlow Semi Condensed', sans-serif; */


.dark-blue{
    color:#2699FB
}

.light-blue{
    color:#B6DCFC
}